html {
    background-color: #b0c4b1;
  }
  
  .container {
    padding: 36px;
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 12px;
    font-family: "Yeseva One";
    color: #faedcd;
    text-shadow: -4px 0px 0px #D4A373;
  }
  
  .subheader {
    font-size: 30px;
    margin-bottom: 30px;
    font-family: "Yeseva One";
    color: white;
  }
  
  .store {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Yeseva One";
    color: white;
  }
  
  .info {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    color: white;
  }
  
  .treeinfo {
    font-size: 25px;
    font-family: "Abhaya Libre", serif;
    color: white;
  }
  
  .tentrees {
    display: flex;
  }
  
  .taskbar {
    display: flex;
    font-size: 25px;
    font-family: "Yeseva One";
    color: white;
    justify-content: space-between;
    margin-bottom: 30px;
    text-decoration: none;
  }

  img {
    width: 500px;
    margin-left: 100px;
  }
  
  li {
    margin: 5px 0px;
  }
  
  ul {
    margin-top: 0px;
    margin-left: 15px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }