html {
    background-color: #b0c4b1;
  }
  
  .title {
    font-size: 60px;
    color: #faedcd;
    font-family: "Yeseva One", cursive;
    text-shadow: -4px 0px 0px #d4a373;
    margin: 36px 0px;
  }
  
  .textcontainer {
    font-size: 28px;
    color: white;
    font-family: "Abhaya Libre", serif;
  }
  
  .container {
    padding: 36px;
  }
  
  .text-description {
    margin: 0px 30px;
  }
  
  .text-description2 {
    margin: 20px 30px;
  }
  
  .text-description3 {
    margin: 20px 30px;
  }
  
  .text-description4 {
    margin: 20px 30px;
  }
  
  .text-description5 {
    margin: 20px 30px;
  }
  
  .text-description6 {
    margin: 20px 30px;
  }
  
  .text-description7 {
    margin: 20px 30px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  .taskbar {
    display: flex;
    font-size: 25px;
    font-family: "Yeseva One";
    color: white;
    justify-content: space-between;
    margin-bottom: 30px;
    text-decoration: none;
    margin-top: 25px;
  }